.transaction-card{
    border: 1px solid rgb(180, 179, 179);
    margin: 20px 30px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px black;
    position: relative;
    background-color: rgb(240, 239, 239);
}

.transaction-card-title{
    margin: 10px 5px;
    font-size: 28px;
}

.transaction-card-amount{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.transaction-card-category{
    font-size: 15px;
    background-color: burlywood;
    padding: 5px 7px;
    border-radius: 25px;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

